@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&display=swap");

body {
  font-family: "Baloo Bhaina 2", cursive, sans-serif;
  margin: 0;
  padding: 0;
}

span {
  font-family: "Pacifico", cursive;
  color: saddlebrown;
}

h1,
h3 {
  text-align: center;
  text-transform: capitalize;
}

h1 {
  font-size: 30px;
}

br {
  display: block; /* makes it have a width */
  content: ""; /* clears default height */
  margin-top: 20px; /* change this to whatever height you want it */
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.first {
  flex-grow: 1;
  margin: auto;
}

.double {
  flex-grow: 2;
  margin-left: 50px;
  margin-top: 5px;
}

/* Styling for header */

header {
  display: inline;
  padding-bottom: 0;
  margin: 0;
  /* remove gap between beacuse inline */
  font-size: 0;
}

nav {
  background-color: transparent;
  padding: 20px;
  position: fixed;
  top: 0px;
  width: 100%;
  transition: 0.4s;
}

nav a {
  font-size: 15px;
  font-weight: 300;
  text-decoration: none;
  color: white;
}

nav a:hover,
aside a:hover {
  font-weight: bold;
  color: saddlebrown;
}

nav a:active {
  color: saddlebrown;
}

nav li {
  display: inline;
  margin-left: 20px;
  list-style-type: none;
}

.banner {
  position: relative;
}

.banner img {
  width: 100%;
  max-height: 620px;
  object-fit: cover;
  object-position: center;
}

.text-banner {
  top: 35%;
  left: 55px;
  position: absolute;
  text-align: left;
  color: white;
}

.text-banner h1 {
  font-size: 35px;
}

.text-banner p {
  text-align: left;
  line-height: 0.7;
  font-size: 20px;
}

.text-banner span {
  color: white;
}

.slide {
  display: none;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* Styling For Main */

* {
  box-sizing: border-box;
}

main {
  overflow: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 20px;
}

/* Reason Section */
#reason {
  background-color: rgb(77, 63, 63);
  padding: 10px 120px;
  color: white;
  text-align: center;
  height: 500px;
}

#reason img {
  height: 70px;
}

#reason h1 > span {
  color: white;
}

#reason .card {
  width: 100%;
  height: 300px;
  background-color: rgb(243, 243, 243);
  color: black;
}

#variant .card:not(:first-child),
#reason .card:not(:first-child) {
  margin-left: 25px;
}

#content {
  width: 100%;
  text-align: justify;
}

#content h2 {
  color: saddlebrown;
}

/* About Section */
#about {
  width: 100%;
  margin: 0 auto;
  padding: 20px 90px;
  margin-bottom: 50px;
}

#about img {
  height: 250px;
}

#about h2 {
  margin-bottom: 0;
  padding-bottom: 0;
}

hr {
  width: 20%;
  height: 3px;
  border-width: 0;
  color: brown;
  background-color: brown;
  margin-bottom: 25px;
  border-style: dashed;
}

.hr-dashed hr {
  border: 1px dashed rgb(247, 208, 180);
  width: 20%;
}

#about h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

/* Benefit Styling */
#benefits {
  width: 100%;
  margin: 0 auto;
  padding: 20px 60px;
  background-color: rgb(214, 214, 214);
  padding-bottom: 50px;
}

.box {
  border-radius: 8px;
  padding: 20px;
  width: 400px;
}

.box-black {
  background-color: rgb(82, 68, 68);
  color: rgb(255, 255, 255);
}

.box-grey {
  background-color: rgb(253, 252, 252);
  color: black;
}

#benefits .box:not(:first-child) {
  margin-left: 5px;
  margin-bottom: 5px;
}

/* Variant Styling */
#variant {
  padding: 20px 100px;
  text-align: center;
  margin-bottom: 50px;
}

#variant .card {
  width: 300px;
  border-top-style: groove;
  border-color: saddlebrown;
}

#variant img {
  width: 100px;
}

/* Product Styling */
#products {
  background-color: rgb(248, 248, 248);
  padding: 20px;
  line-height: 0.7;
  color: black;
}

.center {
  margin: 0 auto;
  text-align: center;
}

#products figure {
  text-align: center;
}

#products img {
  width: 100px;
}

#products li {
  display: inline-block;
  list-style-type: none;
}

/* Summary Styling */
#summary {
  float: left;
  width: 75%;
}

#summary .card {
  margin-bottom: 20px;
}

table {
  width: 100%;
  text-align: center;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  border-top: 1px solid #ddd;
}

.container {
  padding: 20px;
}

.container hr {
  width: 100%;
}
/* Profile Styling */

aside {
  float: right;
  width: 25%;
  padding-left: 20px;
  padding-bottom: 20px;
}

aside a {
  text-decoration: none;
  color: black;
}

aside li {
  list-style-type: square;
}

.dev h2,
figure {
  text-align: center;
}

.dev img {
  width: 100%;
  max-height: 200px;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

.profile-bio {
  text-align: left;
  font-size: 15px;
  line-height: 0.7;
}

.profile-bio h3 {
  padding-top: 10px;
  text-align: left;
}

footer {
  padding: 20px;
  color: white;
  background-color: #353032;
  text-align: center;
  font-weight: bold;
}
