banner-slider {
  display: block;
}

banner-item {
  display: block;
  position: relative;
}

banner-item > img {
  max-height: 720px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.text-banner {
  position: absolute;
  bottom: 50%;
  right: 10%;
}

.text-banner h1,
p {
  text-align: center;
  font-size: 18px;
}

.text-banner h1 {
  font-size: 45px;
  color: #ef5350;
  font-weight: bold;
}
