#testimoniList {
  text-align: center;
  margin: 0 auto;
  padding: 0;
  width: 80%;
}

#testimoni #testimoniTitle {
  text-align: center;
}

testimoni-item {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
}

testimoni-item img {
  height: 150px;
  border-radius: 50%;
  width: 150px;
  margin: 0 auto;
  padding: 20px;
}

testimoni-item p {
  padding: 25px;
  text-align: center;
}
